@import '../../styles/mixin';
@import "~taro-ui/dist/style/components/modal.scss";
@import "~taro-ui/dist/style/components/load-more.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import "~taro-ui/dist/style/components/button.scss";

.order-page {
  min-height: 92vh;
  background-color: #f9f9f9;
  .toggleType {
    padding: 20px 26px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f9f9f9;
    z-index: 9999;
    .item {
      display: inline-block;
      width: 20%;
      text-align: center;
      font-size: 28px;
      font-weight: 200;
      color: #666;
      padding-bottom: 22px;

      &.active {
        color: #4E7BFF;
        font-weight: 400;
        border-bottom: 4px solid rgba(78,123,255,1);
      }
    }
  }
  .list{
    width: 100%;
    margin-top: 100px;

    .no{
      width: 100%;
      text-align: center;
      padding-top: 50%;
      box-sizing: border-box;
    }


    .empty {
      width: 100%;
      background: #fff;
      margin-bottom: 20px;
      padding: 0 30px;
      padding-bottom: 18px;
      box-sizing: border-box;

      .empty-head{
        width: 100%;
        height: 80px;
        line-height: 80px;

        span{
          display: inline-block;
          font-size:24px;
          font-family:PingFang SC;
          font-weight:400;
          &.a{
            width: 70%;
            text-align: left;
            color:rgba(40,40,40,1);
          }
          &.b{
            width: 30%;
            text-align: right;
            color:rgba(78,123,255,1);
          }
        }
      }
      .empty-content{
        width: 100%;
        overflow: hidden;
        margin-top: 20px;

        &:nth-child(2){
          margin-top: 0;
        }

        .img{
          float: left;
          @include wh(200px, 156px);
          border: 2px solid rgba(237, 237, 237, 1);
        }
        .box{
          float: left;
          width: 50%;
          margin-left: 20px;

          span{
            display: block;
            &.a{
              font-size:26px;
              font-family:PingFang SC;
              font-weight:400;
              color:rgba(40,40,40,1);
              line-height:30px;
              margin-top: 8px;
            }
            &.b{
              font-size:24px;
              font-family:PingFang SC;
              font-weight:400;
              color:rgba(152,152,152,1);
              margin-top: 10px;
            }
          }
        }
        .price{
          float: right;

          span{
            display: block;
            text-align: right;
            &.a{
              font-size:30px;
              font-family:PingFang SC;
              font-weight:400;
              color:rgba(40,40,40,1);
            }
            &.b{
              font-size:24px;
              font-family:PingFang SC;
              font-weight:400;
              color:rgba(152,152,152,1);
            }
          }
        }
      }
      .total{
        width: 100%;
        margin-top: 40px;
        text-align: right;

        span{
          display: inline-block;
          vertical-align: middle;

          &.a{
            font-size:24px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(40,40,40,1);
          }
          &.b{
            font-size:26px;
            font-family:PingFang SC;
            font-weight:bold;
            color:rgba(40,40,40,1);
          }
        }
      }
      .btns{
        width: 100%;
        margin-top: 34px;
        text-align: right;

        span{
          display: inline-block;
          vertical-align: middle;

          &.a{
            width:150px;
            height:56px;
            background:rgba(244,244,244,1);
            border:2px solid rgba(152,152,152,1);
            border-radius:28px;
            font-size:26px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(88,88,88,1);
            text-align: center;
            line-height: 56px;
            margin-right: 20px;
          }
          &.b{
            width:150px;
            height:56px;
            border:2px solid rgba(78,123,255,1);
            border-radius:28px;
            font-size:26px;
            font-family:PingFang SC;
            font-weight:400;
            color:rgba(78,123,255,1);
            text-align: center;
            line-height: 56px;
          }
        }
      }
    }
  }
}
