@import "../../styles/mixin";
@import "~taro-ui/dist/style/components/rate.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

.evaluate-page {
  @include wh(100%, 100%);
  background: #f1f3f9;
  position: absolute;
  
  .evaluate-page-head{
    width: 100%;
    padding: 20px 30px;
    border-top: 1px solid rgba(237,237,237,1);
    border-bottom: 1px solid rgba(237,237,237,1);
    background: #fff;

    .img{
      display: inline-block;
      @include wh(130px, 100px);
      vertical-align: middle;
      border: 2px solid rgba(237, 237, 237, 1);
    }

    span{
      display: inline-block;
      vertical-align: middle;
      font-size:26px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(40,40,40,1);
      margin-left: 20px;
    }
  }
  .evaluate-page-content{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    background: #fff;

    .list{
      width: 100%;
      line-height: 70px;
      
      .text{
        display:inline-block;
        vertical-align: middle;
        font-size:28px;
        font-family:PingFang SC;
        font-weight:400;
        color:rgba(102,102,102,1);
        margin-right: 40px;
      }
      .rate{
        display: inline-block;
        vertical-align: middle;
        .at-rate__icon--on {
          color: #4E7BFF;
        }
      }
    }
  }
  .evaluate-page-form{
    width: 100%;
    margin-top: 20px;
    padding: 0 28px;
    box-sizing: border-box;
    background: #fff;
    padding-bottom: 30px;

    .abc{
      width: 100%;
      overflow: hidden;
    }

    .files{
      width: 160px;
      height: 160px;
      margin-right: 20px;
      float: left;
    }

    .file{
      width: 160px;
      height: 160px;
      border:2px solid #d6e4ef;
      overflow: hidden;
      font-size:60px;
      text-align: center;
      line-height: 160px;
      color: #d6e4ef;
      position: relative;
      float: left;
  
      input{
        height: 500px;
        padding-top: 200px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .text{
      font-size:24px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(102,102,102,1);
    }
    .list{
      width: 100%;
      padding: 30px 0;
      box-sizing: border-box;
    }
    .imgs{
      .at-image-picker__flex-box{
        padding: 0;
      }
    }
  }
  .btn{
    width:335px;
    height:70px;
    background:rgba(78,123,255,1);
    border-radius:35px;
    font-size:30px;
    font-family:PingFang SC;
    font-weight:400;
    color:rgba(255,255,255,1);
    text-align: center;
    line-height: 70px;
    margin: 50px auto;
  }
}
